{% load static wagtailimages_tags wagtailcore_tags wagtailmarkdown %}
{% load table_block_tags %}

<div class="port_about_sections prt_toppadder80 page_scroll" data-scroll="0" id="about_sec">
    <!-- start about section  -->


    <div class="selfintro_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-12 col-md-12">
                    <div class="about_leftsection ">
                        <div class="img_wrapper">
                            {% image value.image_table fill-445x490 as tb_img %}
                            <img class="img-fluid" src="{{ tb_img.url }}" alt="{{ tb_img.alt }}"
                                title="more information click + icon">
                            <div class="icon" title="more information click + icon">
                                <div class="iconbox">
                                    <i class="fa fa-plus icon_plus" aria-hidden="true"></i>
                                    <i class="fa fa-minus icon_minus" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="left_details">
                            <div class="personal_details">
                                <h1 class="ps_name">{{ value.title_table.heading }}</h1>
                                <p class="ps_designation">{{ value.title_table.sub_heading }}</p>
                                <table 
                                    class="info-list table table-responsive">
                                    {% if value.table.table_caption %}
                                       <caption>{{ value.table.table_caption }}</caption>
                                    {% endif %} 
                                    {% if value.table.table_header %}
                                    <thead>
                                        <tr>
                                            {% for column in value.table.table_header %}
                                            {% with forloop.counter0 as col_index %}
                                            <th scope="col" {% cell_classname 0 col_index %}>
                                                {% if column.strip %}
                                                {% if html_renderer %}
                                                {{ column.strip|safe|markdown }}
                                                {% else %}
                                                {{ column.strip|markdown }}
                                                {% endif %}
                                                {% endif %}
                                            </th>
                                            {% endwith %}
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    {% endif %}
                                    <tbody>
                                        {% for row in value.table.data %}
                                        {% with forloop.counter0 as row_index %}
                                        <tr>
                                            {% for column in row %}
                                            {% with forloop.counter0 as col_index %}
                                            {% if first_col_is_header and forloop.first %}
                                            <th scope="row"
                                                {% cell_classname row_index col_index value.table.table_header %}>
                                                {% if column.strip %}
                                                {% if html_renderer %}
                                                {{ column.strip|safe|markdown }}
                                                {% else %}
                                                {{ column.strip|markdown }}
                                                {% endif %}
                                                {% endif %}
                                            </th>
                                            {% else %}
                                            <td {% cell_classname row_index col_index value.table.table_header %}>
                                                {% if column.strip %}
                                                {% if html_renderer %}
                                                {{ column.strip|safe|markdown }}
                                                {% else %}
                                                {{ column.strip|markdown }}
                                                {% endif %}
                                                {% endif %}
                                            </td>
                                            {% endif %}
                                            {% endwith %}
                                            {% endfor %}
                                        </tr>
                                        {% endwith %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <ul class="social-links">

                                    {% if settings.site_settings.SocialMediaSettings.github %}
                                    <li><a class="tip social-button"
                                            href="{{ settings.site_settings.SocialMediaSettings.github }}"><i
                                                class="fab fa-github"></i></a></li>
                                    {% endif %}
                                    {% if settings.site_settings.SocialMediaSettings.linkedin %}
                                    <li><a class="tip social-button"
                                            href="{{ settings.site_settings.SocialMediaSettings.linkedin }}"><i
                                                class="fab fa-linkedin-in"></i></a></li>
                                    {% endif %}
                                    {% if settings.site_settings.SocialMediaSettings.medium %}
                                    <li><a class="tip social-button"
                                            href="{{ settings.site_settings.SocialMediaSettings.medium }}">
                                            <img class="medium" width="25" height="25"
                                                src="{% static 'svg/medium_white.svg' %}">
                                        </a></li>
                                    {% endif %}
                                    {% if settings.site_settings.SocialMediaSettings.twitter %}
                                    <li><a class="tip social-button"
                                            href="{{ settings.site_settings.SocialMediaSettings.twitter }}"><i
                                                class="fab fa-twitter"></i></a></li>
                                    {% endif %}
                                    {% if settings.site_settings.SocialMediaSettings.figma %}
                                    <li><a class="tip social-button"
                                            href="{{ settings.site_settings.SocialMediaSettings.figma }}"><i
                                                class="fab fa-telegram"></i></a></li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-7 col-lg-12 col-md-12">
                    <div class="right_section">
                        <div class="port_heading_wrapper">
                            <div class="port_sub_heading_wrapper">
                                <h2 class="port_sub_heading">{{ value.title.sub_heading }}</h2>
                            </div>
                        </div>
                        <h2 class="about_tophead">{{ value.title.heading }}</h2>
                        <p class="about_details">{{ value.ricktext.context|richtext }}</p>
                        <!-- <div class="signature_box">
                            <div class="name">
                                <h2>John Weary</h2>
                                <p>Product Manager</p>
                            </div>
                        </div> -->
                        <div class="about_section_btn">
                            <a href="{{ value.link_cv_document }}" class="portfolio_btn btn_yellow">
                                <span class="first_text">{{ value.btn_download_text.sub_heading }}</span>
                                <span class="second_text">{{ value.btn_download_text.heading }}</span>
                            </a>
                            <a href="{{ value.hire_url }}" class="portfolio_btn btn_red" id="redirect_contact">
                                <span class="first_text">{{ value.btn_hire_text.sub_heading }}</span>
                                <span class="second_text">{{ value.btn_hire_text.heading }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End about section  -->