
{% load static wagtailimages_tags wagtailcore_tags %}

<!-- start contact wrapper  -->
<div class="port_contact_wrapper prt_toppadder80 page_scroll" data-scroll="3" id="contact_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="port_heading_wrapper text-center prt_bottompadder40">
                    <div class="port_sub_heading_wrapper">
                        <h2 class="port_sub_heading">Contact Me</h2>
                    </div>
                    <h1 class="port_heading">Get In Touch</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="port_map_sections">
        <!-- start map section  -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="map_box maxw-1000 mx-auto map-container">
                        <div id="world-map" class="jvmap-smart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End map section  -->

    <div class="port_contact_sections" id="scroll_contact">
        <!-- start Contact section  -->
        <div class="contact_section">
            <div class="container">

                <div class="port_contact_mainbox">
                    <div class="row">
                        <div class="col-md-12 text-center prt_bottompadder40 ">
                            <div class="port_hadding_style_sec ">
                                <h2 class="port_head_wrapper">My Contact</h2>
                            </div>
                                {% include 'partials/messages.html' %}
                        </div>
                        <div class="col-12">
                            <div class="port_contact_form">
                                <form {% if form.is_multipart %} enctype="multipart/form-data"{% endif %} action="{{ value.form_action }}" method="post" class="needs-validation" novalidate>
                                <div class="row">
                                        {{ form.media }}
                                        {% csrf_token %}
                                        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                                        {% for field in form.visible_fields %}
                                        <div class="col-12">
                                            <div class="form-group">
                                                {% include "partials/form_field.html" %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="col-12">
                                            <div class="banner_btn">
                                                <button type="submit" data-type="contact"
                                                    class="portfolio_btn btn_red submitForm">
                                                    <span class="first_text">{{ value.form.submit_button_text }}</span>
                                                    <span class="second_text">Send</span>
                                                </button>
                                            </div>
                                        </div>
                                        {% comment %} <div class="response"></div> {% endcomment %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Contact section  -->
</div><!-- End contact wrapper  -->