{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_education_sections prt_toppadder80 prt_bottompadder80 ">
    <!-- start Education section  -->
    <div class="education_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">{{ value.title.heading }} </h2>
                        </div>
                        <h1 class="port_heading">{{ value.title.sub_heading }} </h1>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="education_main_wrapper ">
                        {% for block in value.education_block %}
                        {% if block.block_alignment == 'right' %}
                        <!-- right box -->
                        <div class="education_box education_firsrtbox {{ block.number_block }}box">
                            <div class="row">
                                <div class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center">
                                    <div class="education_mleft education_left ">
                                        <div class="edu_mainyear edu_leftyear">
                                            <h1>{{ block.edu_mainyear }}</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
                                    <div class="education_mright education_right ">
                                        <div class="education_minfo education_rinfo ">
                                            <div class="prt_rightside_title">
                                                <div class="left_title_box">
                                                    <div class="left_title">
                                                        <h4>{{ block.number_title }}</h4>
                                                    </div>
                                                    <div class="right_title {{ block.block_color }}">
                                                        <h4>{{ block.state_title }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="education_place"><span
                                                    data-hover="{{ block.education_place_span }}"
                                                    class="data_hover">{{ block.education_place_span }} </span>
                                                {{ block.education_place_h3 }}</h3>
                                            <p>{{ block.education_place_richtext.context|richtext }}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- right box -->
                        {% else %}
                        <!-- left box -->
                        <div class="education_box education_secondbox {{ block.number_block }}box">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-12 col-12 align-self-center">
                                    <div class="education_mright education_left ">
                                        <div class="education_minfo education_rinfo ">
                                            <div class="prt_rightside_title">
                                                <div class="left_title_box">
                                                    <div class="right_title {{ block.block_color }}">
                                                        <h4>{{ block.state_title }}</h4>
                                                    </div>
                                                    <div class="left_title">
                                                        <h4>{{ block.number_title }}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <h3 class="education_place"><span
                                                    data-hover="{{ block.education_place_span }}"
                                                    class="data_hover">{{ block.education_place_span }} </span>
                                                {{ block.education_place_h3 }}</h3>
                                            <p>{{ block.education_place_richtext.context|richtext }}</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 col-sm-12 col-12 align-self-center">
                                    <div class="education_mleft education_left ">
                                        <div class="edu_mainyear edu_leftyear">
                                            <h1>{{ block.edu_mainyear }}</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- left box -->
                        {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Education section  -->