{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_experience_sections prt_toppadder80">
    <!-- start Experience section  -->
    <div class="experience_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">{{ value.title.heading }}</h2>
                        </div>
                        <h1 class="port_heading">{{ value.title.sub_heading }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for block in value.experience_block %}
                {% if block.info_block.block_alignment == 'right' %}
                <div class="col-lg-6 col-md-12">
                    <div class="exprince_box ex_leftsidebox">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-12 padding-0 w-100">
                                <div class="ex_leftside">
                                    <h1>{{ block.ex_leftside_h1_up }}</h1>
                                    <h4>{{ block.ex_leftside_h4 }}</h4>
                                    <h1>{{ block.ex_leftside_h1_down }}</h1>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-12 w-100">
                                <div class="ex_rightside">
                                    <h4>{{ block.ex_rightside_h4 }} <span data-hover="{{ block.ex_rightside_span }}"
                                            class="data_hover c-{{ block.info_block.block_color }}">{{ block.ex_rightside_span }}</span></h4>
                                    <span class="c-{{ block.info_block.block_color }}">{{ block.company_span }}</span>
                                    <p class="ex_details">{{ block.ex_details_p }}</p>
                                    <p class="more_content">{{ block.more_content_p }}</p>
                                    <a class="ex_btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-6 col-md-12">
                    <div class="exprince_box ex_rightsidebox">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-12 w-100">
                                <div class="ex_rightside">
                                    <h4>{{ block.ex_rightside_h4 }} <span data-hover="{{ block.ex_rightside_span }}"
                                            class="data_hover c-{{ block.info_block.block_color }}">{{ block.ex_rightside_span }}</span></h4>
                                    <span class="c-{{ block.info_block.block_color }}">{{ block.company_span }}</span>
                                    <p class="ex_details">{{ block.ex_details_p }}</p>
                                    <p class="more_content">{{ block.more_content_p }}</p>
                                    <a class="ex_btn">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-12 padding-0 w-100">
                                <div class="ex_leftside">
                                    <h1>{{ block.ex_leftside_h1_up }}</h1>
                                    <h4>{{ block.ex_leftside_h4 }}</h4>
                                    <h1>{{ block.ex_leftside_h1_down }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div><!-- End Experience section  -->