{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_projects_setions prt_bottompadder50 prt_toppadder80 page_scroll" data-scroll="1" id="project_sec">
    <!-- start Portfolio section  -->
    <div class="projects_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Quality Work</h2>
                        </div>
                        <h1 class="port_heading">My Projects</h1>
                    </div>
                </div>

                <div class="port_project_gallery text-center">
                    <div class="gallery_nav">
                        <ul>
                            <li><a data-filter="*" class="gallery_active">all</a></li>
                            <li><a data-filter=".design"> Design</a></li>
                            <li><a data-filter=".development">Development</a></li>
                            <li><a data-filter=".photoshop">Photoshop</a></li>
                            <li><a data-filter=".template">Template</a></li>
                        </ul>
                    </div>
                    <div class="gallery_container">
                        <div class="gallery_grid">
                            <div class="grid-item design">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Design</h3>
                                        <span>Design</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item development template">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Development</h3>
                                        <span>Development</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item development">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Development</h3>
                                        <span>Development</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item photoshop template">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Photoshop</h3>
                                        <span>Photoshop</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item design">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Design</h3>
                                        <span>Design</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item design photoshop">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Photoshop</h3>
                                        <span>Photoshop</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item development">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Development</h3>
                                        <span>Development</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item development template">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Development</h3>
                                        <span>Development</span>
                                    </div>
                                </a>
                            </div>
                            <div class="grid-item design">
                                <a href="http://via.placeholder.com/600x600" class="view">
                                    <div class="grid_img">
                                        <img src="http://via.placeholder.com/350x350" alt="project-img">
                                    </div>
                                    <div class="grid-content">
                                        <h3>Moc Design</h3>
                                        <span>Design</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Portfolio section  -->