{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_projects_sections prt_bottompadder50 prt_toppadder80 page_scroll" data-scroll="2" id="projects_sec">
    <!-- start Portfolio section  -->
    <div class="projects_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">{{ value.title.sub_heading }}</h2>
                        </div>
                        <h1 class="port_heading">{{ value.title.heading }}</h1>
                    </div>
                </div>

                <div class="port_project_gallery text-center">
                    <div class="gallery_nav">
                        <ul>
                            <li><a data-filter="*" class="gallery_active">all</a></li>
                            {% if value.data_filter_01 %}
                            <li><a
                                    data-filter=".{{ value.data_filter_01 }}">{{ value.data_filter_01 }}</a>
                            </li>
                            {% endif %}
                            {% if value.data_filter_02 %}
                            <li><a
                                    data-filter=".{{ value.data_filter_02 }}">{{ value.data_filter_02 }}</a>
                            </li>
                            {% endif %}
                            {% if value.data_filter_03 %}
                            <li><a
                                    data-filter=".{{ value.data_filter_03 }}">{{ value.data_filter_03 }}</a>
                            </li>
                            {% endif %}
                            {% if value.data_filter_04 %}
                            <li><a
                                    data-filter=".{{ value.data_filter_04 }}">{{ value.data_filter_04 }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="gallery_container">
                        <div class="gallery_grid">
                            {% for block in value.my_project_block %}
                            <div class="grid-item {{ block.data_filter_classname_01 }} {{ block.data_filter_classname_02 }}">
                                {% image block.image fill-600x600 as view_img %}
                                <a href="{{ view_img.url }}" class="view">
                                    <div class="grid_img">
                                        <img src="{{ view_img.url }}" width="350" height="350" alt="{{ view_img.alt }}">
                                    </div>
                                    <div class="grid-content">
                                        <h3>{{ block.grid_content_h3 }}</h3>
                                        <span>{{ block.data_filter_classname_01 }}</span>
                                        {% if block.data_filter_classname_02 %}
                                        <span>{{ block.data_filter_classname_02 }}</span>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Portfolio section  -->