{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_progress_sections prt_toppadder80">
    <!-- start progress bar section  -->
    <div class="progress_section">
        <div class="container">
            <div class="port_progress_mainbox">
                <div class="row">
                    {% for block in value.progress_bar %}
                    <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                        <div class="progressbar">
                            <div class="second circle" data-percent="{{ block.sub_heading }}">
                                <strong></strong>
                            </div>
                            <span>{{ block.heading }} </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div><!-- End progress bar section  -->

