{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_progress_setions prt_toppadder80">
    <!-- start progress bar section  -->
    <div class="progress_section">
        <div class="container">
            <div class="port_progress_mainbox">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                        <div class="progressbar">
                            <div class="second circle" data-percent="92">
                                <strong></strong>
                            </div>
                            <span>Projects </span>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                        <div class="progressbar">
                            <div class="second circle" data-percent="100">
                                <strong></strong>
                            </div>
                            <span>Team Work</span>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                        <div class="progressbar">
                            <div class="second circle" data-percent="95">
                                <strong></strong>
                            </div>
                            <span>Happy Clients</span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 text-center">
                        <div class="progressbar">
                            <div class="second circle" data-percent="80">
                                <strong></strong>
                            </div>
                            <span>Creativity</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div><!-- End progress bar section  -->

