{% load static wagtailimages_tags wagtailcore_tags %}

<div class="port_services_sections prt_toppadder80">
    <!-- start services section  -->
    <div class="services_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="port_heading_wrapper text-center prt_bottompadder40">
                        <div class="port_sub_heading_wrapper">
                            <h2 class="port_sub_heading">Take a look</h2>
                        </div>
                        <h1 class="port_heading">My Services</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="port_services_box_wrapper">
                        <div class="port_services_box">
                            <img src="{% static 'images/services/port_services01.png' %}" alt="service-image">
                            <h2 class="project_heading">Web Design</h2>
                            <p class="project_pera">Vestibulum condimentum vehicula massa, ac convallis nullarell.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="port_services_box_wrapper">
                        <div class="port_services_box">
                            <img src="{% static 'images/services/port_services02.png' %}" alt="service-image">
                            <h2 class="project_heading">Photoshop</h2>
                            <p class="project_pera">Vestibulum condimentum vehicula massa, ac convallis nullarell.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="port_services_box_wrapper">
                        <div class="port_services_box">
                            <img src="{% static 'images/services/port_services03.png' %}" alt="service-image">
                            <h2 class="project_heading">Marketing</h2>
                            <p class="project_pera">Vestibulum condimentum vehicula massa, ac convallis nullarell.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="port_services_box_wrapper">
                        <div class="port_services_box">
                            <img src="{% static 'images/services/port_services04.png' %}" alt="service-image">
                            <h2 class="project_heading">Illustrator</h2>
                            <p class="project_pera">Vestibulum condimentum vehicula massa, ac convallis nullarell.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="port_services_box_wrapper">
                        <div class="port_services_box ">
                            <img src="{% static 'images/services/port_services05.png' %}" alt="service-image">
                            <h2 class="project_heading">Social Media </h2>
                            <p class="project_pera">Vestibulum condimentum vehicula massa, ac convallis nullarell.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="port_services_box_wrapper">
                        <div class="port_services_box">
                            <img src="{% static 'images/services/port_services06.png' %}" alt="service-image">
                            <h2 class="project_heading">Graphics</h2>
                            <p class="project_pera">Vestibulum condimentum vehicula massa, ac convallis nullarell.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Experience section  -->