{% load static menu_tags cache %}

{% get_menu "sidebar" as navigation %}

<!-- start side bar -->
<div class="port_sidebar_wrapper mport_sidebar_wrapper">
    <div class="port_sidebar_profile">
        <a href="javascript:;" class="port_sidebar_position active">
            <div class="profile_circle ">
                <img src="{% static 'images/msabatino_right.jpeg' %}" alt="Manuela Sabatino" class="img-fluid" />
            </div>
        </a>
    </div>
    <div class="port_sidebar_nav">
        <div class="port_navigation index_navigation">
            <ul class="nav_list">
                {% cache 2592000 sidebar_menu %}
                {% for item in navigation.menu_items.all %}
                <li data-number="{{ forloop.counter0 }}">
                    <div class="tooltip_box">
                        <a href="javascript:;" class="siderbar_menuicon" {% if item.open_in_new_tab %}target="_blank"
                            {% endif %}>
                            <span class="first_micon">
                                <img src="{{ item.svg.url }}" width="30px" height="30px">
                            </span>
                            <span class="second_micon">
                                <img src="{{ item.svg.url }}" width="30px" height="30px">
                            </span>
                        </a>
                        <span class="menu_tooltip">{{ item.title }}</span>
                    </div>
                </li>
                {% endfor %}
                {% endcache %}
            </ul>
        </div>
    </div>
    <div class="port_sidebar_social">
        <div class="port__social_box">
            <div class="port__followus">
                <p>Follow Me</p>
            </div>
            <ul class="social_list">
                {% cache 2592000 social_media_settings %}
                {% if settings.site_settings.SocialMediaSettings.github %}
                <li>
                    <a href="{{ settings.site_settings.SocialMediaSettings.github }}" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-github nav_fb"></i></span>
                        <span class="second_icon"><i class="fab fa-github nav_fb"></i></span>
                    </a>
                </li>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.linkedin %}
                <li>
                    <a href="{{ settings.site_settings.SocialMediaSettings.linkedin }}" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                        <span class="second_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                    </a>
                </li>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.medium %}
                <li>
                    <a href="{{ settings.site_settings.SocialMediaSettings.medium }}" class="siderbar_icon">
                        <span class="first_icon"><i class="nav_whats"></i><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 1043.63 592.71">
                                <path
                                    d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36m322.89 0c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279m132.08 0c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94" />
                            </svg></span>
                        <span class="second_icon"><i class="nav_whats"></i><svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 1043.63 592.71">
                                <path
                                    d="M588.67 296.36c0 163.67-131.78 296.35-294.33 296.35S0 460 0 296.36 131.78 0 294.34 0s294.33 132.69 294.33 296.36m322.89 0c0 154.06-65.89 279-147.17 279s-147.17-124.94-147.17-279 65.88-279 147.16-279 147.17 124.9 147.17 279m132.08 0c0 138-23.17 249.94-51.76 249.94s-51.75-111.91-51.75-249.94 23.17-249.94 51.75-249.94 51.76 111.9 51.76 249.94" />
                            </svg></span>
                    </a>
                </li>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.linkedin %}
                <li>
                    <a href="{{ settings.site_settings.SocialMediaSettings.twitter }}" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-twitter nav_twit"></i></span>
                        <span class="second_icon"><i class="fab fa-twitter nav_twit"></i></span>
                    </a>
                </li>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.figma %}
                <li>
                    <a href="{{ settings.site_settings.SocialMediaSettings.figma }}" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-figma nav_insta"></i></span>
                        <span class="second_icon"><i class="fab fa-figma nav_insta"></i></span>
                    </a>
                </li>
                {% endif %}
                {% endcache %}
            </ul>
        </div>
    </div>
</div>
<!-- End side bar -->