.port_about_sections {

    .personal_details {

        table.info-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-top: 10px;

            tr p {
                margin-bottom: 8px;
                color: #fff;
            }

            tbody {
                tr td:nth-child(1) p {
                    color: #fcc255 !important;
                    padding-right: 10px;
                    font-weight: 400;
                    font-size: 16px;
                    min-width: 110px;
                    display: inline-block;
                }

                tr td:nth-child(2) {
                    a {
                        color: #fff;
                        word-break: break-all;
                    }
                }
            }
        }

        .table td,
        .table th {
            padding: .3rem 0 !important;
            border-top: none !important;
        }
    }
}