.port_sidebar_wrapper {

    /* ---- start profile ---- */

    width: 120px;
    text-align: center;
    background: white;
    position: fixed;
    left: 0;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-Y: auto;
    overflow-X: hidden;


    .port_sidebar_profile {
        padding: 20px 0;
    }

    a.port_sidebar_position {
        position: relative;
        display: block;
    }

    .profile_circle {
        background: #e9e9e9;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
    }

    /* ---- End profile ---- */

    /* ---- start navigation ---- */

    .port_sidebar_nav {
        padding: 7px 0px 0px 0px;
        text-align: center;
        margin-bottom: 80px;
    }

    .port_navigation .nav_list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .port_navigation .nav_list li {
        display: block;
        position: relative;
        overflow: hidden;
    }

    .port_navigation .nav_list li:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #e5e5e5;
        height: 1px;
        width: 65%;
    }

    .port_navigation .nav_list li.active:before {
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
        transition-timing-function: cubic-bezier(0.52, 1.64, .37, .66);
    }

    .port_navigation .nav_list li.active:first-child::before {
        background: #ff4a4a2e;
    }

    .port_navigation .nav_list li.active:nth-child(2)::before {
        background: #ffc4554f;
    }

    .port_navigation .nav_list li.active:nth-child(3)::before {
        background: #1bcae538;
    }

    .port_navigation .nav_list li.active:last-child::before {
        background: #ff754a4f;
    }

    .port_navigation .nav_list li:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #e5e5e5;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

    }

    .port_navigation .nav_list li .tooltip_box {
        position: relative;
        cursor: pointer;
        display: block;
        padding: 30px 0;
    }

    .port_navigation .nav_list li a {
        position: relative;
        display: block;
        outline: none;
        overflow: hidden;
        text-align: center;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .siderbar_menuicon span {
        position: relative;
        display: inline-block;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .siderbar_menuicon span.second_micon {
        position: absolute;
        top: 100%;
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;
    }

    .tooltip_box:hover span.first_micon {
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .tooltip_box:hover span.second_micon {
        top: 0%;
    }

    .port_navigation .nav_list li .tooltip_box span.menu_tooltip {
        position: absolute;
        bottom: -25px;
        margin: 0 auto;
        left: 0;
        right: 0;
        color: #ff5352;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .port_navigation .nav_list li .tooltip_box:hover span.menu_tooltip {
        bottom: 10px;
        opacity: 1;
        visibility: visible;
    }

    .port_navigation .nav_list li .tooltip_box:hover a {
        -webkit-transform: translateY(-12px);
        -moz-transform: translateY(-12px);
        -o-transform: translateY(-12px);
        -ms-transform: translateY(-12px);
        transform: translateY(-12px);
    }

    .port_sidebar_social .social_list li a i {
        font-size: 22px;
    }

    .port_navigation .nav_list li:last-child::after {
        /* display:none; */
    }

    .port_navigation .nav_list li:last-child {}

    .port_navigation .nav_list li a svg {
        width: 26px;
        height: 26px;
    }

    .port_navigation .nav_list li a svg.nav_about_svg {
        fill: #ff5353;
    }

    .port_navigation .nav_list li a svg.nav__portfolio_svg {
        fill: #20cae5;
    }

    .port_navigation .nav_list li a svg.nav_quotes_svg {
        fill: #ffc455;
    }

    .port_navigation .nav_list li a svg.nav_contact_svg {
        fill: #ff754a;
    }

    .port_navigation .nav_list li:nth-child(2) .tooltip_box span.menu_tooltip {
        color: #ffc454;
    }

    .port_navigation .nav_list li:nth-child(3) .tooltip_box span.menu_tooltip {
        color: #00c8da;
    }

    .port_navigation .nav_list li:nth-child(4) .tooltip_box span.menu_tooltip {
        color: #ff754a;
    }

    .port_navigation .nav_list li:nth-child(2) .tooltip_box span.menu_tooltip:after {
        border-right-color: #00c8da;
    }

    .port_navigation .nav_list li:nth-child(3) .tooltip_box span.menu_tooltip:after {
        border-right-color: #ffc454;
    }

    .port_navigation .nav_list li:nth-child(4) .tooltip_box span.menu_tooltip:after {
        border-right-color: #ff754a;
    }

    .active-menu {
        bottom: 3px !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .siderbar_icon {
        position: relative;
        display: inline-block;
        outline: none;
        overflow: hidden;
        text-align: center;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-size: 16px;
        color: #ffffff;
    }

    .siderbar_icon span {
        position: relative;
        display: inline-block;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .siderbar_icon span.second_icon {
        position: absolute;
        top: 0;
        bottom: 0;
        -webkit-transform: translate3d(0, 0, 0) translateX(-30px);
        -ms-transform: translate3d(0, 0, 0) translateX(-30px);
        -o-transform: translate3d(0, 0, 0) translateX(-30px);
        -moz-transform: translate3d(0, 0, 0) translateX(-30px);
        transform: translate3d(0, 0, 0) translateX(-30px);
        right: 0;
        left: 0;
        margin: auto;
        color: #fff;
    }

    .siderbar_icon:hover span.first_icon {
        -webkit-transform: translateX(25px);
        -moz-transform: translateX(25px);
        -ms-transform: translateX(25px);
        -o-transform: translateX(25px);
        transform: translateX(25px);
    }

    .siderbar_icon:hover span.second_icon {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);

    }


    /* ---- End navigation ---- */

    /* ---- Start Social icon ---- */
    .port_sidebar_social {
        text-align: center;
        margin: auto;
        width: 28px;
        line-height: 28px;
        text-align: center;
    }

    .port__social_box p {
        font-size: 16px;
        color: #222222;
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        padding: 0;
        margin: 0;
        position: relative;
        margin-bottom: 84px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
    }

    .port__social_box p:after {
        content: "";
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1px;
        height: 64px;
        background: #e8e8e8;
    }

    .port_sidebar_social ul.social_list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .port_sidebar_social ul.social_list li a {
        margin-bottom: 15px;
        display: block;
    }

    .social_list li a .nav_fb {
        color: #000000;
    }

    .social_list li a .nav_in {
        color: #0077b5;
    }

    .social_list li a .nav_whats {
        color: #25d366;
    }

    .social_list li a .nav_twit {
        color: #55acee;
    }

    .social_list li a .nav_insta {
        color: #e4405f;
    }

    /* ---- End Social icon ---- */
}